body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url(https://pre00.deviantart.net/884f/th/pre/i/2006/133/9/7/idyllic_mario_by_blendmaster.png);
  font-size: 18px;
  background-repeat: repeat no-repeat;
  background-size: 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:50px solid red;
  border-radius:10px;
  position:absolute;
  -webkit-transform: rotate(7.5deg);
  -moz-transform: rotate(7.5deg);
  -ms-transform: rotate(7.5deg);
  -o-transform: rotate(7.5deg);
  transform: rotate(7.5deg);
}

.greenDancer{
  border:0px solid green;

}

.characters {
  border: none;
  height: 100px;
}

.characterImages {
  height: 100%;
}

.lakitu:hover {
  border: 10px solid red;
}